<div class="nav-bar  ">
    <div class="nav-container d-flex justify-content-between align-items-center">
        <div>
            <h2 class="logo">Task<span class="logo-span">List</span></h2>
        </div>
        <nav>
            <ul class="nav-list" [class.active]="isActive">
                <li routerLinkActive="active-link" routerLink="main-page">Home</li>
                <li routerLinkActive="active-link" routerLink="create">Create Task</li>
                <li routerLinkActive="active-link" routerLink="allTasks">All Tasks</li>
                <li routerLinkActive="active-link" routerLink="completed">Completed Tasks </li>
            </ul>
        </nav>
        <div class="list" (click)="toggleMenu()">
            <i class="fa-solid fa-list text-white fs-2 "></i>
        </div>
    </div>
</div>