.card-list {
    padding: 10px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.card-list li {
    margin-block: 20px;
    padding: 15px;
    cursor: pointer;
    transition: all .3s;
}

.card-list li:hover {
    background-color: black;
    color: #fff;
}